body{
    background-color: #3d087b;
}
.main{
    display: flex;;
}

.left_container{
    
    width: 35%;
    height:600px;
    margin-left: 150px;
    margin-top: 30px;
}
.box1{
    width: 70%;
    height:140px;
    background-image: url(./clock.jpg);
    background-size: cover;
  
}
.img{
    width: 50px;
    height: 50px;
    color: rgb(117, 26, 182);
}

.image1:after{
    content: "";
    display: block;
    width: 2px;
    max-width: 100%;
    border-bottom: 1.7em solid black;
    margin-left: 25px;
}
 .image2:after{
    content: "";
    display: block;
    width: 2px;
    max-width: 100%;
    border-bottom: 1.7em solid black;
    margin-left: 20px;
    }
#img3{
    width: 70px;
    height: 70px;
    color:red;
    margin-right: 30px;
}
.div1{
    margin-bottom: 35px;
}
.div2{
    border-radius: 10px;
    background-color: white;
}
.box2{
    width: 100%;
    height: 80px;
   
    color: rgb(133, 42, 197);
    display: flex;
    justify-content: center;
    align-items: center;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
}
#btn1{
    width: 35%;
    height: 50px;
    display: flex;
   border-radius: 5px;
    align-items:  center;
    color: white;
    justify-content: center;
 margin-top: 60px;
 margin-left: 30px;
 background-image: linear-gradient(to right,rgb(84, 61, 211),rgb(212, 57, 212) ,rgb(76, 89, 207));
}
 #dynamic-block{
     width: 60%;
     height: 100px;
     font-weight: bold;
     font-size: 20px;
     font: 40px;
    background-color: violet;
    border: 3px solid rgb(157, 197, 64);
    color:white;
    padding: 10px;
   margin-right:1500px;
   border-radius: 10px;
}
.nap{
    margin-right: 40px;
}
#wakeup-time{
    width: 100px;
    height: 30px;
    border: 2px solid rgb(117, 22, 185);
    border-radius: 5px;
}
#lunch-time{
    width: 100px;
    height: 30px;
    border: 2px solid rgb(117, 22, 185);
    border-radius: 5px;
}
#nap-time{
    width: 100px;
    height: 30px;
    border: 2px solid rgb(117, 22, 185);
    border-radius: 5px;
    margin-right: 30px;
}
.right_container{
    width: 35%;
    height: 700px;
    margin-left: 80px;
    display:block;
}
.time{
    margin-top: 10px;
}
.timer{
    width: 90%;
    height: 100px;
    background-color: white;
   
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  margin: 30px;
  opacity:1.5;
}
    .settime{
        width: 50px;
        height: 80px;
        background-color: rgb(236, 58, 236);
        margin-top: 15px;
        line-height: 25px;
        text-align: center;
        font-size: 30px;
        border-radius: 10px;
        color:white;
        font-style: oblique;
        margin-right: 10px;
        opacity: 0.3;
        font-weight: bold;
        
    }
     .back1{
        height: 100px;
        width: 400px;
        border: 2px solid green;
        position:absolute ;
        top:65px;
        right: 290px;
        background-color: white;
        border-radius: 5px;
        z-index: -1;
        opacity: 0.9;
    }
    .back2{
        height: 100px;
        width: 350px;
        border: 2px solid green;
        position:absolute ;
        top:75px;
        right: 320px;
        background-color: white;
        border-radius: 5px;
        z-index: -2;
        opacity: 0.3;
    }

    #day_night{
        width: 60px;
        height: 80px;
        display: flex;
        background-color: violet;
        border-radius: 10px;
        align-items: center;
        font-size: x-large;
        justify-content: center;
        margin-top: 16px;
    }
    #text{
        width: 100%;
        height: 70px;
        /* border: 1px solid red; */
        font-size: 250%;
        color: darkblue;
    }
       .lowercontainer{
        width: 500px;
        height: 400px;
        background-color: white;
        border-radius: 10px;
        position: absolute;
        bottom: 100px;
        right: 250px;
    }
    #texter{
        width: 500px;
        height: 60px;
        font-size: 30px;
        
    }
    #imagecontainer{
        width: 500px;
        height: 340px;
        background-image: url(./balloon.webp);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    
    @media(max-width:600px){

        .main{
            display:flex;
        }
        .box1{
            width:400%;
            height:120px;
            background-image: url(./clock.jpg);
            background-size: 20rem;
            background-repeat: no-repeat;
            position: relative;
            bottom: 60px;
            right: 160px;
         
         
        }
        .div2{
            border-radius: 10px;
            width: 800px;
            height: 460px;
            border: 4px solid black;
            background-color: white;
            position: relative;
            margin-top: 900px;
            left: -120px;
            right: 500px;
            font-size: 20px;
            
            
        }
        .box2{
            width: 90%;
            height: 80px;
            color: rgb(133, 42, 197);
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            justify-content: space-evenly;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 70px;
        }
        .settime{
            width: 90px;
            height: 100px;
            background-color: rgb(236, 58, 236);
            margin-top: 15px;
            line-height: 25px;
            text-align: center;
            font-size: 30px;
            border-radius: 10px;
            color:rgb(0, 0, 0);
            opacity: 1.3;
        }
        .timer{
            width: 650px;
            height: 130px;
            background-color: white;
            position :absolute;
            top: 140px;
            right: -260px;
            border-radius: 10px;
        
        }
        .right_container{
            width: 30%;
            height: 700px;
            margin-left: 80px;
            display:block;
        }
        .lowercontainer{
            width: 800px;
            height: 600px;
            background-color: white;
            border-radius: 10px;
            position: absolute;
            bottom: 100px;
            top: 350px;
            left: 30px;
            right: 250px;
        }
        .back1{
            display: none;
        }
        .back2{
            display: none;
        }
        #btn1{
            width: 200%;
            height: 100px;
            font-size: larger;
            margin-top: 100px;
        }
        #dynamic-block{
            width: 400%;
            height: 150px;
            font-weight: bold;
            font-size: 40px;
            background-color: violet;
            border: 3px solid rgb(157, 197, 64);
            color:white;
            padding: 10px;
            position: relative;
            right:230px;
            top: 100px;
            border-radius: 10px;
       }
       #wakeup-time{
        width: 150px;
        height: 60px;
        font-size: x-large;
        border: 2px solid rgb(117, 22, 185);
        border-radius: 5px;
        margin-left: 50px;
    }
    #lunch-time{
        width: 150px;
        height: 60px;
        font-size: x-large;
        border: 2px solid rgb(117, 22, 185);
        border-radius: 5px;
        margin-left: 50px;
    }
    #nap-time{
        width: 150px;
        height: 60px;
        font-size: x-large;
        border: 2px solid rgb(117, 22, 185);
        border-radius: 5px;
        margin-right: 30px;
        margin-left: 50px;
    }
    #imagecontainer{
        width: 800px;
        height: 500px;
        /* background-image: url(./balloon.webp);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center; */
    }
    #texter{
        width: 700px;
        height: 90px;
        font-size: 50px;
        text-align: center;
        
    }
    #nap{
        font-size: 150px;
    }
    .label{
        font-size: xx-large;
    }
    #day_night{
        font-size: xx-large;
        background-color:darkcyan;
    }
    .time{
        font-size: x-large;
        background-color: darkcyan;
        height: 85px;
        border-radius: 10px;
    }
    .dropdown{
        font-size: 15rem;
    }
    }
  
    
    
